/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

$utilities: map-merge($utilities,
		("border-style": (property: border-style,
				class: bs,
				values: solid dashed),
			"rounded-top-start": (property: border-top-left-radius,
				class: rounded-top-start,
				values: (null:$border-radius)),
			"rounded-top-end": (property: border-top-right-radius,
				class: rounded-top-end,
				values: (null:$border-radius)),
			"rounded-bottom-start": (property: border-bottom-left-radius,
				class: rounded-bottom-start,
				values: (null:$border-radius)),
			"rounded-bottom-end": (property: border-bottom-right-radius,
				class: rounded-bottom-end,
				values: (null:$border-radius)),
			"border-width-top": (property:border-top-width,
				class: border-top,
				values: $border-widths ),
			"border-width-bottom": (property:border-bottom-width,
				class: border-bottom,
				values: $border-widths ),
			"border-width-start": (property:border-left-width,
				class: border-start,
				values: $border-widths ),
			"border-width-end": (property:border-right-width,
				class: border-end,
				values: $border-widths )));

$utilities: map-merge($utilities,
		("border-color": map-merge(map-get($utilities, "border-color"),
				(values: map-merge(map-get(map-get($utilities, "border-color"), "values"),
						$custom-utilities-border-colors,
					),
				),
			),
			"rounded-top": map-merge(map-get($utilities, "rounded-top"),
				(values: map-merge(map-get(map-get($utilities, "rounded-top"), "values"),
						(0:0),
					),
					responsive: true),
			),
			"rounded-end": map-merge(map-get($utilities, "rounded-end"),
				(values: map-merge(map-get(map-get($utilities, "rounded-end"), "values"),
						(0:0),
					),
					responsive: true),
			),
			"rounded-bottom": map-merge(map-get($utilities, "rounded-bottom"),
				(values: map-merge(map-get(map-get($utilities, "rounded-bottom"), "values"),
						(0:0),
					),
					responsive: true),
			),
			"rounded-start": map-merge(map-get($utilities, "rounded-start"),
				(values: map-merge(map-get(map-get($utilities, "rounded-start"), "values"),
						(0:0),
					),
					responsive: true),
			),
			"rounded": map-merge(map-get($utilities, "rounded"),
				(responsive: true),
			),
		));