/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

$utilities: map-merge($utilities,
		("min-height": (property: min-height,
				responsive: true,
				class: min-h,
				values: (100: 100%))));

$utilities: map-merge($utilities,
		("width": map-merge(map-get($utilities, "width"),
				(responsive: true,
					values: map-merge(map-get(map-get($utilities, "width"), "values"),
						(0: 0),
					),
				),
			),
			"max-width": map-merge(map-get($utilities, "max-width"),
				(values: map-merge(map-get(map-get($utilities, "max-width"), "values"),
						(50: 50%),
					),
				),
			),
		));