/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

$i: 100;

@while $i < 3000 {
	$i: $i +100;

	.spin-#{$i} {
		animation: bs-spin #{$i}ms infinite linear;
	}
}