/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

// FIX: This is a temporary function until v5.2 that fixes text-... classes with maps.scss
// @each $color,
// $value in $theme-colors {
// 	.text-#{$color} {
// 		--bs-text-opacity: 1;
// 		color: $value  !important;
// 	}
// }

$utilities: map-merge($utilities,
		("word-break": (property: word-break,
				values: normal break-all)));

$utilities: map-merge($utilities,
		("white-space": map-merge(map-get($utilities, "white-space"),
				(values: map-merge(map-get(map-get($utilities, "white-space"), "values"),
						(pre-wrap: pre-wrap),
					),
				),
			),
			"text-opacity": map-merge(map-get($utilities, "text-opacity"),
				(values: map-merge(map-get(map-get($utilities, "text-opacity"), "values"),
						(0: 0),
					),
				),
			),
			"color": map-merge(map-get($utilities, "color"),
				(values: map-merge(map-get(map-get($utilities, "color"), "values"),
						$custom-utilities-text-colors,
					),
				),
			),
		));