/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

$utilities: map-merge($utilities,
		("translate-x": (property: transform,
				class: translate-x,
				responsive: true,
				values: (n100:translateX(-100%), 100:translateX(100%), 50:translateX(50%))),
			"translate-y": (property: transform,
				class: translate-y,
				responsive: true,
				values: (n100:translateY(-100%), 100:translateY(100%), 50:translateY(50%)))));