/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

$utilities: map-merge($utilities,
		("transition": (property: transition,
				responsive: true,
				values: (all:$transition-base,
					none: none,
					fade: $transition-fade,
				))));