/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

$utilities: map-merge($utilities,
		("z-index": (property: z-index,
				responsive: true,
				values: (n1:-1,
					0: 0,
					100: 100,
					200: 200,
					300: 300,
					400: 400,
					500: 500,
					600: 600,
					700: 700,
					800: 800,
					900: 900,
					1000: 1000,
					sticky: $zindex-sticky,
				))));