/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

@mixin button-hover-variant($background,
	$border,
	$color,
	$hover-background,
	$hover-border,
	$hover-color,
	$active-background,
	$active-border,
	$active-color,
	$disabled-background,
	$disabled-border,
	$disabled-color) {
	@include button-variant($background, $border, $color, $hover-background, $hover-border, $hover-color, $active-background, $active-border, $active-color, $disabled-background, $disabled-border, $disabled-color);

	&:hover {

		.link-color-reset {
			color: $hover-color  !important;
		}

	}
}

@mixin button-plain-variant($color, $value) {
	@if not (str-index($color, "-yiq")) {
		.btn-plain-#{$color} {
			@include button-hover-variant(transparent, transparent, $value, transparent, transparent, shade-color($value, $btn-hover-bg-shade-amount), transparent, transparent, shade-color($value, $btn-hover-bg-shade-amount * 2), transparent, transparent, $value);
		}
	}

	@else {
		.btn-plain-#{$color} {
			@include button-hover-variant(transparent, transparent, $value, transparent, transparent, tint-color($value, $btn-hover-bg-tint-amount), transparent, transparent, tint-color($value, $btn-hover-bg-tint-amount * 2), transparent, transparent, $value);
		}
	}
}