/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

@mixin error-document-html {
	background-color: $error-document-bg;
}

@mixin error-document-body {
	background-color: $error-document-bg;
	font-family: $error-document-font-family;
	margin: 0;
}

@mixin error-document-dialog {
	border: 1px solid $error-document-color;
	margin: 48px;
	padding: 36px;
	overflow: hidden;
}

@mixin error-document-heading {
	font-size: 36px;
	color: $error-document-color;
	line-height: 1.5em;
	text-align: center;
	font-weight: 700;
	margin: .67em 0;
	padding: 0;
}

@mixin error-document-paragraph {
	font-size: 24px;
	color: $error-document-color;
	text-align: center;
	font-weight: 400;
	margin: 1em 0;
	padding: 0;
}