/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

@mixin responsive-ratio($x, $y, $pseudo: false) {
	$padding: unquote(calc($y / $x) * 100 + '%');

	@if $pseudo {
		&:before {
			@include pseudo($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	}

	@else {
		padding-top: $padding;
	}
}