/*! bootstrap-for-market v6.0.0 | © 2006-present, Anamo, Inc. All rights reserved. | bitbucket.org/anamo/bootstrap-for-market */

@keyframes bs-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes bs-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bs-fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes bs-slide-in-up {
	0% {
		opacity: 0;
		transform: translate3d(0, 10%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bs-slide-in-down {
	0% {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bs-slide-out-up {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
}

@keyframes bs-slide-out-down {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, 10%, 0);
	}
}

@keyframes bs-draw-in-up {
	0% {
		transform: translate3d(0, 100%, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bs-draw-in-down {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, 100%, 0);
	}
}
