/*! bootstrap-for-market v6.0.0 | © 2006-present, Anamo, Inc. All rights reserved. | bitbucket.org/anamo/bootstrap-for-market */

// NOTE: By default all buttons are defined as "filled" buttons.

// NOTE: A tinted button is a button with background that "fluds" from the color. The outline is always same as the color. Use with border-transparent if you want to remove all borders.
@each $color,
$value in $theme-colors {
	@if not (str-index($color, "-yiq")) {
		.btn-tinted-#{$color} {
			@include button-hover-variant(rgba($value, .05), $value, $value, rgba($value, .15), shade-color($value, $btn-hover-bg-shade-amount), shade-color($value, $btn-hover-bg-shade-amount), rgba($value, .15), shade-color($value, $btn-hover-bg-shade-amount * 2), shade-color($value, $btn-hover-bg-shade-amount * 2), transparent, $value, $value);
		}
	}

	@else {
		.btn-tinted-#{$color} {
			@include button-hover-variant(rgba($value, .05), $value, $value, rgba($value, .15), tint-color($value, $btn-hover-bg-tint-amount), tint-color($value, $btn-hover-bg-tint-amount), rgba($value, .15), tint-color($value, $btn-hover-bg-tint-amount * 2), tint-color($value, $btn-hover-bg-tint-amount * 2), transparent, $value, $value);
		}
	}

}

// NOTE: A gray button is a button with gray(or white on -yiq ending theme colors) background and on hover the background "fluds" from the color. The outline is always same as the color. Use with border-transparent if you want to remove all borders.
@each $color,
$value in $theme-colors {
	@if not (str-index($color, "-yiq")) {
		.btn-gray-#{$color} {
			@include button-hover-variant(rgba(0, 0, 0, .05), $value, $value, rgba($value, .15), shade-color($value, $btn-hover-bg-shade-amount), shade-color($value, $btn-hover-bg-shade-amount), rgba($value, .15), shade-color($value, $btn-hover-bg-shade-amount * 2), shade-color($value, $btn-hover-bg-shade-amount * 2), transparent, $value, $value);
		}
	}

	@else {
		.btn-gray-#{$color} {
			@include button-hover-variant(rgba(255, 255, 255, .05), $value, $value, rgba($value, .15), tint-color($value, $btn-hover-bg-tint-amount), tint-color($value, $btn-hover-bg-tint-amount), rgba($value, .15), tint-color($value, $btn-hover-bg-tint-amount * 2), tint-color($value, $btn-hover-bg-tint-amount * 2), transparent, $value, $value);
		}
	}

}

// NOTE: A plain button is a button with transparent background and on hover the background "fluds" from the color. The outline is always same as the color. Use with border-transparent if you want to remove all borders.
@each $color,
$value in $theme-colors {
	@include button-plain-variant($color, $value);
}