/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

// HERE WE DECLARE OUR OWN VARIABLES, WE CAN USE BS VARIABLES IN OUR OWN VARIABLES

//
// Color system
//
$primary-yiq: #66bbff !default;
$secondary-yiq: #808080 !default;

$custom-theme-colors: (
	"primary-yiq": $primary-yiq,
	"secondary-yiq": $secondary-yiq) !default;

//
// Spacing
//

//
// Body
//
$body-color-yiq: white !default;

$text-muted-yiq: #cccccc !default;
//
// Links
//
$link-font-weight: $font-weight-normal  !default;
$link-transition: none !default;

//
// Typography
//
$font-size-xs: $font-size-base * .5 !default;

$custom-font-sizes: (
	base: $font-size-base,
	xs: $font-size-xs,
	sm: $font-size-sm,
	lg: $font-size-lg) !default;

//
// Buttons + Forms
//
$input-btn-focus-color-yiq: rgba($primary-yiq, .25) !default;
$input-btn-focus-box-shadow-yiq: 0 0 0 $input-btn-focus-width $input-btn-focus-color-yiq  !default;
//
// Buttons
//

//
// Forms
//
$input-focus-box-shadow-yiq: $input-btn-focus-box-shadow-yiq  !default;
//
// Components
//
$component-active-bg-yiq: $primary-yiq  !default;
//
// Ph
//
$ph-bg: #eee !default;
$ph-color: #ddd !default;
$ph-border-radius: 0 !default;
//
// Error Document
//
$error-document-bg: white !default;
$error-document-color: #444444 !default;
$error-document-font-family: arial,
	sans-serif !default;

//
$custom-link-colors: (
	"body": $body-color,
	"body-yiq": $body-color-yiq,
	"muted": $text-muted,
	"muted-yiq": $text-muted-yiq) !default;

$colored-link-colors: (
	"body": $body-color,
	"body-yiq": $body-color-yiq,
	"muted": $text-muted,
	"muted-yiq": $text-muted-yiq) !default;

$custom-utilities-border-colors :(reset:inherit, transparent: transparent, body: $body-color, "body-yiq": $body-color-yiq, muted: $text-muted, "muted-yiq": $text-muted-yiq) !default;

$custom-utilities-text-colors :(transparent: transparent, body: $body-color, "body-yiq": $body-color-yiq, "muted-yiq": $text-muted-yiq) !default;