/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

// Overwrite default behaviour for colored links. On hover/focus they become darker (or lighter if -yiq)
@each $color,
$value in $theme-colors {
	.link-#{$color} {
		transition: $link-transition;

		&:hover,
		&:focus {

			@if (str-index($color, "-yiq")) {
				color: shift-color(map-get($theme-colors, $color), $link-shade-percentage * -1) !important;

				.link-color-reset {
					color: shift-color(map-get($theme-colors, $color), $link-shade-percentage * -1) !important;
				}
			}

			@else {
				color: shift-color(map-get($theme-colors, $color), $link-shade-percentage) !important;

				.link-color-reset {
					color: shift-color(map-get($theme-colors, $color), $link-shade-percentage) !important;
				}
			}

		}
	}
}

@each $color,
$value in $custom-link-colors {
	.link-#{$color} {
		@include link;

		color: $value  !important;

		&:hover,
		&:focus {

			@if (str-index($color, "-yiq")) {
				color: shift-color(map-get($custom-link-colors, $color), $link-shade-percentage * -1) !important;

				.link-color-reset {
					color: shift-color(map-get($custom-link-colors, $color), $link-shade-percentage * -1) !important;
				}
			}

			@else {
				color: shift-color(map-get($custom-link-colors, $color), $link-shade-percentage) !important;

				.link-color-reset {
					color: shift-color(map-get($custom-link-colors, $color), $link-shade-percentage) !important;
				}
			}

		}
	}
}

// For .text classes inside .link or .btn classes
.link-transition-reset {

	transition: inherit !important;

	transition-duration: 150ms !important; // NOTE: duration does NOT inherit.
}

// Create new links that react differently on hover/focus: They get the color of the global link color.
@each $color,
$value in $colored-link-colors {
	.colored-link-#{$color} {
		@include link;

		color: $value  !important;

		&:hover,
		&:focus {

			@if (str-index($color, "-yiq")) {
				color: $primary-yiq  !important;

				.link-color-reset {
					color: $primary-yiq  !important;
				}
			}

			@else {
				color: $primary  !important;

				.link-color-reset {
					color: $primary  !important;
				}
			}

		}
	}
}

// Create new links that are close to new text-bg- classes.
@each $color,
$value in $theme-colors {
	.link-bg-#{$color} {
		@include link;

		background: $value  !important;
		color: color-contrast($value) !important;

		&:hover,
		&:focus {

			@if (str-index($color, "-yiq")) {
				background: shift-color(map-get($theme-colors, $color), $link-shade-percentage * -1) !important;
				color: color-contrast(shift-color(map-get($theme-colors, $color), $link-shade-percentage * -1)) !important;

				.link-color-reset {
					color: color-contrast(shift-color(map-get($theme-colors, $color), $link-shade-percentage * -1)) !important;
				}
			}

			@else {
				background: shift-color(map-get($theme-colors, $color), $link-shade-percentage) !important;
				color: color-contrast(shift-color(map-get($theme-colors, $color), $link-shade-percentage)) !important;

				.link-color-reset {
					color: color-contrast(shift-color(map-get($theme-colors, $color), $link-shade-percentage)) !important;
				}
			}

		}
	}
}

// Create new links that react differently on hover/focus: They get the color of the global link color.
@each $color,
$value in $colored-link-colors {
	.colored-link-bg-#{$color} {
		@include link;

		background: $value  !important;
		color: color-contrast($value) !important;

		&:hover,
		&:focus {

			@if (str-index($color, "-yiq")) {
				background: $primary-yiq  !important;
				color: color-contrast($primary-yiq) !important;

				.link-color-reset {
					color: color-contrast($primary-yiq) !important;
				}
			}

			@else {
				background: $primary  !important;
				color: color-contrast($primary) !important;

				.link-color-reset {
					color: color-contrast($primary-yiq) !important;
				}
			}

		}
	}
}