/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

// HERE WE OVERRIDE MAPS TO BE USED BY BS INTERNAL MAPS

//
// Color system
//
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$font-sizes: map-merge($custom-font-sizes, $font-sizes);

$colored-link-colors: map-merge($theme-colors, $colored-link-colors);