/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

a {
	font-weight: $link-font-weight;
}

@for $i from 1 through 6 {
	.display-#{$i} {
		margin: 0;
	}
}