/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

.ph {
	overflow: hidden;
	position: relative;
	user-select: none;
	pointer-events: none;
	animation-duration: .7s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: phAnimate;
	background: $ph-bg;
	background: linear-gradient(to right, $ph-bg 2%, $ph-color 18%, $ph-bg 33%);
	background-size: 1300px;
	border-radius: $ph-border-radius;
}

@keyframes phAnimate {
	0% {
		background-position: -650px 0;
	}

	100% {
		background-position: 650px 0;
	}
}