/*! © 2006-present, Anamo Inc. MIT License | bitbucket.org/anamo/bootstrap-composable-helpers */

.form-control-yiq {
	@extend .form-control;

	&:focus {
		box-shadow: $input-focus-box-shadow-yiq;
	}
}